#badge {
  position: absolute;
  top: 188px;
  right: 31px;
}

.inline {
  display: inline-block;
}

// on the profile page
.badge-container {
  width: 500px;
  margin: 0 auto;
  h3 {
    text-align: center;
  }
  text-align: center;
}

.youngScholar {
  background: image-url('badges.png') no-repeat -119px -119px;
  width: 84px;
  height: 73px;
}
.firstFifty {
  background: image-url('badges.png') no-repeat -341px -15px;
  width: 78px;
  height: 78px;
}
.hundredClub {
  background: image-url('badges.png') no-repeat -333px -120px;
  width: 96px;
  height: 79px;
}
.twoHundredClub {
  background: image-url('badges.png') no-repeat -445px -120px;
  width: 90px;
  height: 80px;
}
.threeHundredClub {
  background: image-url('badges.png') no-repeat -553px -120px;
  width: 92px;
  height: 80px;
}
.bookWorm {
  background: image-url('badges.png') no-repeat -13px -13px;
  width: 80px;
  height: 80px;
}
.highAchiever {
  background: image-url('badges.png') no-repeat -11px -117px;
  width: 82px;
  height: 75px;
}
.silverCircle {
  background: image-url('badges.png') no-repeat -557px -15px;
  width: 83px;
  height: 78px;
}
.goldCircle {
  background: image-url('badges.png') no-repeat -450px -13px;
  width: 82px;
  height: 80px;
}
.ninja {
  background: image-url('badges.png') no-repeat -230px -14px;
  width: 80px;
  height: 79px;
}
