
/* entire container, keeps perspective */

#playCard {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

.hidden {
	display: none;
}

.correct {
	font-size: 200%;
	color: green;
}

.incorrect {
	font-size: 200%;
	color: red;
}


.play-flip-container {
	margin: 20px;

	perspective: 1000;
}
	/* flip the pane when hovered */

  //
  .toggle-flip {
  	transform: rotateY(180deg);
  }




.play-flip-container, .play-front, .play-back {
	display: inline-block;
	width: 220px;
	height: 280px;
}

/* flip speed goes here */
.play-flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.play-card-contents{
	box-sizing: border-box;
	padding: 10px;
}
/* front pane, placed above back */
.play-front {
	z-index: 2;
	display: inline-block;
	/* for firefox 31 */
	transform: rotateY(0deg);
  background-image: image-url('CardFront.png');
  border-radius: 20px;
  text-align: center;
}

/* back, initially hidden pane */
.play-back {
	display: inline-block;
	transform: rotateY(180deg);
  background-image: image-url('CardBack.png');
  border-radius: 20px;
  text-align: center;
}

.play-c-title {
  font-size: 150%;
  color: gainsboro;
}

.dialog-buttons {
	margin-top: 80px;
	text-align: center;
}

#toExistingGame, #toNewGame {
	width: 75%;
}
