@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

* {
	font-family: 'Open Sans', sans-serif;
}
#cards {
	width: 900px;
	height: 100px;
}


/* entire container, keeps perspective */
.flip-container {
	margin: 20px;

	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	display: inline-block;
	width: 220px;
	height: 280px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.card-contents{
	box-sizing: border-box;
	padding: 10px;
}
/* front pane, placed above back */
.front {
	z-index: 2;

	display: inline-block;
	/* for firefox 31 */
	transform: rotateY(0deg);
  background-color: cream;
  border-radius: 20px;
  text-align: center;
  border: 1px solid darkslategrey;
	box-shadow: 2px 2px 2px #DCDCDC;
}

/* back, initially hidden pane */
.back {

	display: inline-block;
	transform: rotateY(180deg);
  background-color: cream;
  border-radius: 20px;
  text-align: center;
  border: 1px solid darkslategrey;
  box-shadow: 2px 2px 2px #DCDCDC;
}

.c-title {
  font-size: 150%;
  color: gainsboro;

}
