<div class="home-container">
  <h1>Welcome to Glance!</h1>

  <hr>

  <div id="home-text">
    <p>Glance is a place for you to come and learn. Index cards you create or decks of index cards created by our community will help remember in no time! </p>
    <p>Create your own index cards to help you remember things such as Spanish words, Programming Functions, or capital cities.</p>
    <p>Browse decks created by our community and either favourite a deck or add their cards to one of your decks.</p>
    <p>Play regularly to train your brain to remember, whilst also creating high scores and accumulating a lifetime score. See how you compare against the Glance community!</p>
    <br><br>
    <button>Let's Begin!</button>
  </div>

  <div id="home-img">
    <img src="assets/dog.jpg" alt="">
  </div>
</div>
