<div class="home-container">
  <h1>Welcome to Glance!</h1>

  <hr>

  <div id="home-text">
    <p>Glance is a place for you to come and learn. Index cards you create or decks of index cards created by our community will help your memory in no time! </p>
    <p>Create your own index cards to help you remember things such as Spanish words, Programming Functions, or Capital Cities.</p>
    <p>Browse decks created by our community and either favourite a deck or add their cards to one of your decks.</p>
    <p>Play regularly to train your brain to remember, whilst also creating high scores and accumulating a lifetime score. See how you compare against the Glance community!</p>
    <br><br>

    <%= button_to "Let's Begin!", '/main', :method => 'get' %>
  </div>
  <div class="panel panel-default leaderboard">
  <div class="panel-heading">
    Current Leaderboard
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User</th>
          <th class="t-center">Score</th>
        </tr>
      </thead>
    </th>
    <% @users_sorted.each do |user| %>
    <tr>
      <td><%= user.name_first %> <%= user.name_last %></td>
      <td class="t-center"><%= user.lifetime_score %></td>
    </tr>
    <% end %>
  </table>
  </div>
  </div>
</div>
