<div id="main">
TEST
</div>

<script id="appViewTemplate" type="text/template">
  <div id="sidebar">
    <!-- Sidebar goes here -->
  </div>

  <div id="primaryContent">
     <div id="categoryList"></div>
     <div id="deckList"></div>
     <div id="cards">
       <!-- card template is rendered here -->
     </div>
     <div id="myDecks">
       <!-- user decks -->
     </div>
  </div>
</script>



<script id="categoryView" type="text/template">
    <div id="categories"></div>
</script>

<!--        CARD TEMPLATE        -->
<script id="cardTemplate" type="text/template">

  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		<div class="flipper">
			<div class="front">
				<!-- front content -->
        <div class="card-contents">
  				<p class="c-title">Q:</p>
  				<p class="question"> <%%= question %> </p>
        </div>
			</div>
			<div class="back">
				<!-- back content -->
        <div class="card-contents">
          <img class="add-icon" src="../assets/add.png" alt="add to deck">
  				<p class="c-title">A:</p>
  				<p cpass="answer"> <%%= answer %></p>
        </div>
			</div>
		</div>
	</div>

</script>




<!---       SIDEBAR TEMPLATE       -->
<script id="sidebarViewTemplate" type="text/template">

  <div id="profilePicture">
    <img src="<%%= photo  %>">
  </div>

  <div id="sidebarLinks">
  </div>

  <div id="recentlyPlayed">
  </div>

</script>

<!-- PROFILE PAGE TEMPLATE -->
<!-- <script id="myDecksViewTemplate" type="text/template">

  <div id="profileDetails">
    <img src="<%%= photo  %>">
    <p>Name: <%%= name_first %> <%%= name_last %></p>
  </div>

  <div id="myDecks">
  </div>

</script> -->
