<div id="main">
TEST
</div>

<script id="appViewTemplate" type="text/template">

  <div id="sidebar">
    <!-- Sidebar goes here -->
  </div>

  <div id="primaryContent">
     <div id="categoryList"></div>
  </div>


</script>

<script id="categoryView" type="text/template">
    <div id="categories"></div>
</script>

<!---       SIDEBAR       -->

<script id="sidebarViewTemplate" type="text/template">

  <div id="profilePicture">
  </div>

  <div id="sidebarLinks">
  </div>

  <div id="recentlyPlayed">
  </div>

</script>
