<div id="main">

</div>
<!-- <canvas id='scoresGraph' width='400' height='300' ></canvas> -->

<script id="appViewTemplate" type="text/template">
  <div id="sidebar">
    <!-- Sidebar goes here -->
  </div>

  <div id="primaryContent">
     <div id="categoryList"></div>
     <div id="deckList">

     </div>
     <div id="cards">
       <!-- card template is rendered here -->
     </div>
     <div id="myDecks">
       <!-- user decks -->
     </div>
  </div>
</script>

<script id="tagsTemplate" type="text/template">
  <div id="tagList">
     <p>Filter by Tag</p>
     <div id="tags">
     </div>
   </div>
</script>

<script id="categoryView" type="text/template">
    <div id="categories"></div>
</script>

<!--        CARD TEMPLATE        -->
<script id="cardTemplate" type="text/template">

  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		<div class="flipper">
			<div class="front">
				<!-- front content -->
        <div class="card-contents">
  				<p class="c-title">Q</p>
  				<p class="question"> <%%= question %> </p>
        </div>
			</div>
			<div class="back">
				<!-- back content -->
        <div class="card-contents">
          <img class="add-icon" src="assets/add.png" alt="add to deck" data-card-id="<%%= id  %>">
  				<p class="c-title">A</p>
  				<p class="answer"> <%%= answer %></p>
        </div>
			</div>
		</div>
	</div>

</script>

<!-- PLAY CARD TEMPLATE -->

<script id="playCardTemplate" type="text/template">

  <div class="play-flip-container" ontouchstart="this.classList.toggle('hover');">
		<div class="play-flipper">
			<div class="play-front">
				<!-- front content -->
        <div class="play-card-contents">
  				<p class="play-c-title">Q:</p>
  				<p class="play-question"> <%%= question %> </p>
        </div>
			</div>
			<div class="play-back">
				<!-- back content -->
        <div class="play-card-contents">
  				<p class="play-c-title">A:</p>
  				<p class="play-answer"> <%%= answer %></p>
          <div class="incorrect hidden">Incorrect</div>
          <div class="correct hidden">Correct!</div>

        </div>
			</div>
		</div>
	</div>

  <div id="user-answer">
    <input id="input-answer" placeholder="Type your answer">
    <button id="submit-answer">Check Answer</button>
  </div>


</script>


<!---       SIDEBAR TEMPLATE       -->
<script id="sidebarViewTemplate" type="text/template">

  <div id="profilePicture">
    <p id="user-name"><%%= name_first %> <%%= name_last %></p>
    <img src="<%%= photo  %>">
    <p id="scoreHeader">Lifetime Score:</p>
    <p id="lifetimeScore">- <%%= lifetime_score %> -</p>
  </div>

  <div id="sidebarLinks">
  </div>

  <div id="recentlyPlayed">
  </div>

</script>


<!---       ADD TO DECK DIALOG TEMPLATE       -->
<script id="deckDialogTemplate" type="text/template">
  <div class="dialog">
    <img id="close-dialog" src="assets/closedialog.png" alt="">
    <label id="add-label">Add to Deck: </label>
    <div id="deck-input-div"><input class="deck-input" type="text"></div>
    <div id="user-selection"></div>
  </div>

  <div id="sidebarLinks">
  </div>

  <div id="recentlyPlayed">
  </div>

</script>


<!-- GAME COMPLETE TEMPLATE -->

<script id="gameCompleteTemplate" type="text/template">
  <div id="gameSummary">
    <h1 id="pageTitle"></h1>
    <div id="gameResults">
      <h3 id="rawScore"></h3>
      <h3 id="percentScore"></h3>
    </div>
    <div id="scoresGraphContainer">
    </div>
    <div id="actions">
    </div>
  </div>
</script>
