<div id="main">
TEST
</div>

<script id="appViewTemplate" type="text/template">

  <div id="sidebar">
    <!-- Sidebar goes here -->
  </div>

  <div id="primaryContent">
     <!-- Primary content goes here -->
  </div>

</script>

<script id="categoryView" type="text/template">
    <!-- Category view goes here -->
</script>

<!---       SIDEBAR       -->

<script id="sidebarViewTemplate" type="text/template">

  <div id="profilePicture">
    <img src="<%%= photo  %>">
  </div>

  <div id="sidebarLinks">
  </div>

  <div id="recentlyPlayed">
  </div>

</script>
