<div id="main">
TEST
</div>

<script id="appViewTemplate" type="text/template">
  <div id="sideBar">
    <!-- Sidebar goes here -->
  </div>

  <div id="primaryContent">
     <!-- Primary content goes here -->
  </div>
</script>

<script id="categoryView" type="text/template">

</script>

<script id="sideBarViewTemplate" type="text/template">
  
</script>
