<div id="main">
TEST
</div>

<script id="appViewTemplate" type="text/template">
  <div id="sidebar">
    <!-- Sidebar goes here -->
  </div>

  <div id="primaryContent">
     <div id="categoryList"></div>
     <div id="deckList">
     </div>
     <div id="cards">
       <!-- card template is rendered here -->
     </div>
     <div id="myDecks">
       <!-- user decks -->
     </div>
  </div>
</script>

<script id="tagsTemplate" type="text/template">
  <div id="tagList">
     <h3>Filter by Tag</h3>
     <input type="text">
     <div id="tags">
     </div>
   </div>
</script>

<script id="categoryView" type="text/template">
    <div id="categories"></div>
</script>

<!--        CARD TEMPLATE        -->
<script id="cardTemplate" type="text/template">

  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		<div class="flipper">
			<div class="front">
				<!-- front content -->
        <div class="card-contents">
  				<p class="c-title">Q:</p>
  				<p class="question"> <%%= question %> </p>
        </div>
			</div>
			<div class="back">
				<!-- back content -->
        <div class="card-contents">
          <img class="add-icon" src="../assets/add.png" alt="add to deck" data-card-id="<%%= id  %>">
  				<p class="c-title">A:</p>
  				<p cpass="answer"> <%%= answer %></p>
        </div>
			</div>
		</div>
	</div>

</script>

<!-- PLAY CARD TEMPLATE -->

<script id="playCardTemplate" type="text/template">

  <div class="play-flip-container" ontouchstart="this.classList.toggle('hover');">
		<div class="play-flipper">
			<div class="play-front">
				<!-- front content -->
        <div class="play-card-contents">
  				<p class="play-c-title">Q:</p>
  				<p class="play-question"> <%%= question %> </p>
        </div>
			</div>
			<div class="play-back">
				<!-- back content -->
        <div class="play-card-contents">
  				<p class="play-c-title">A:</p>
  				<p class="play-answer"> <%%= answer %></p>
          <div class="incorrect hidden">Incorrect</div>
          <div class="correct hidden">Correct!</div>

        </div>
			</div>
		</div>
	</div>

  <div id="user-answer">
    <input id="input-answer" placeholder="Type your answer">
    <button id="submit-answer">Check Answer</button>
  </div>


</script>


<!---       SIDEBAR TEMPLATE       -->
<script id="sidebarViewTemplate" type="text/template">

  <div id="profilePicture">
    <img src="<%%= photo  %>">
  </div>

  <div id="sidebarLinks">
  </div>

  <div id="recentlyPlayed">
  </div>

</script>


<!---       ADD TO DECK DIALOG TEMPLATE       -->
<script id="deckDialogTemplate" type="text/template">
  <div class="dialog">
    <label>Add to Deck: </label>
    <input id="deck-input" type="text">
    <div id="user-selection"></div>
  </div>

  <div id="sidebarLinks">
  </div>

  <div id="recentlyPlayed">
  </div>

</script>
